@model List<Model.Framework.ThongTinSanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div data-vide-bg="/Assets/user/video/video">
    <div class="container">
        <div class="banner-info">
            <h3>
                Cosmetics are a category of health and beauty products that are used to care for the face and body, or used to accentuate or change a person's appearance.
            </h3>
            <div class="search-form">
                <form action=@Url.Action("Index", "Product", FormMethod.Get) method="Get">
                    @Html.TextBox("SearchString", (string)ViewBag.searchValue)
                    <input type="submit" value="" />
                    @*<input type="submit" name="Reset" value="Mặc định" />*@
                    @*<input type="text" placeholder="Search..." name="Search...">
                        <input type="submit" value=" ">*@
                </form>
            </div>
        </div>
    </div>
</div>
<script>window.jQuery || document.write('<script src="/Assets/user/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
<script src="/Assets/user/js/jquery.vide.min.js"></script>

<!--content-->
<div class="content-mid">
    <div class="container">

        <div class="col-md-4 m-w3ls">
            <div class="col-md1 ">
                <a>
                    <img src="/Assets/user/images/makeup-cosmetic-products-pastel-pink-background-flat-lay-top-view_72402-1584.jpg" class="img-responsive img" alt="">
                    <div class="big-sa">
                        <h6>New Collections</h6>
                        <h3>Season<span>ing </span></h3>
                        <p>This season, we will launch some product that will make you happy</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 m-w3ls1">
            <div class="col-md ">
                <a>
                    <img src="/Assets/user/images/makeup-cosmetic-products-pastel-pink-background-flat-lay-top-view_72402-1584.jpg" class="img-responsive img" alt="">
                    <div class="big-sale">
                        <div class="big-sale1">
                            <h3>Big<span>Sale</span></h3>
                            <p>Black friday coming soon </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 m-w3ls">
            <div class="col-md2 ">
                <a>
                    <img src="/Assets/user/images/pastel_6_1560183500.jpg" class="img-responsive img1" alt="">
                    <div class="big-sale2">
                        <h3>Beauty <span>Skin</span></h3>
                        <p>It is a long established fact that a reader </p>
                    </div>
                </a>
            </div>
            <div class="col-md3 ">
                <a>
                    <img src="/Assets/user/images/pastel_6_1560183500.jpg" class="img-responsive img1" alt="">
                    <div class="big-sale3">
                        <h3>Beauty<span>Body</span></h3>
                        <p>It is a long established fact that a reader </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--content-->
<!-- Carousel
  ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a> <img class="first-slide" src="/Assets/user/images/mb_parks_bed_bath_20200601_2x.jpg" alt="First slide"></a>

        </div>
        <div class="item">
            <a href="care.html"> <img class="second-slide " src="/Assets/user/images/ba1.jpg" alt="Second slide"></a>

        </div>
        <div class="item">
            <a href="hold.html"><img class="third-slide " src="/Assets/user/images/a.jpg" alt="Third slide"></a>

        </div>
    </div>

</div><!-- /.carousel -->
<!--content-->
<div class="product">
    <div class="container">
        <div class="spec ">
            <h3>Special Offers</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <div class=" con-w3l">
            @foreach (var item in Model)
            {
                <div class="col-md-3 pro-1">
                    <div class="col-m">
                        <a href="#" data-toggle="modal" data-target="#myModal17" class="offer-img">
                            <img style="height:60px; width:60px;" src="~/Assets/product/@Html.DisplayFor(modelItem => item.img)" class="img-responsive" alt="">
                        </a>
                        <div class="mid-1">
                            <div class="women">
                                <h6><a href=@Url.Action("ProductDetails", "Home", new { id = item.MaSP })>@Html.DisplayFor(modelItem => item.TenSP)</a></h6>
                            </div>
                            <div class="mid-2">
                                <p><label>$7.00</label><em class="item_price">@Html.DisplayFor(modelItem => item.GiaBan)</em></p>
                                <div class="block">
                                    <div class="starbox small ghosting"> </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="add add-2">
                                <button href="@Url.Action("AddItem", "Cart", new { productid = item.MaSP, quanity=1 })" class="btn btn-danger my-cart-btn my-cart-b"  >Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- product -->

